.App {
  text-align: center;
  padding: 50px;
  background-color: bisque;
}

.progress-bar-container {
  width: 500px;
  height: 20px;
  /* border: 1px solid #ccc; */
  border-radius: 10px;
  margin: 0 auto;
  background-color:bisque ;
}

.progress-bar {
  height: 100%;
  border-radius: 10px;
  background-color:darkcyan;
  transition: all 0.3s ease-in-out;
}